.vehicle-body {
    color:#02e7eb;
    display: grid;
    grid-template-columns: 70% 25%;
    grid-template-rows: auto auto;
    grid-template-areas:
            "picture details"
            "description details";


    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.vehicle-picture-block {
    grid-area: picture;

    border: 2px #02e7eb solid;
}

.vehicle-description-block {
    grid-area: description;

    border: 2px #02e7eb solid;
}

.vehicle-details-block {
    grid-area: details;

    border: 2px #02e7eb solid;
}